 p {
    text-align: center;
    text-shadow: 5px 5px 0px #383636, 10px 10px 0px #c928d4d7, 15px 15px 0px #ccc014c5, 20px 20px 0px#035ce178,25px 25px 0px #d13ed9;
    font-size:250px;
    color: #fff;
 }

 body {
   background-color: #383636;
 }







